<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<root>
		<level value="INFO" />
        <appender-ref ref="consoleAppender" />
        <!--  <appender-ref ref="SSB_ROLLING_FILE" />  -->
          <!--  <appender-ref ref="EMAIL" /> -->
	</root>
    <!-- send all error logs to my email address -->
    <!--
    <appender name="mailAppender" class="org.apache.log4j.net.SMTPAppender">
        <param name="SMTPHost" value="smtp.gmail.com" />
        <param name="SMTPUsername" value="tolgabuyuktanir@gmail.com"/>
        <param name="SMTPPassword" value="1......."/>
        <param name="From" value="tolgabuyuktanir@gmail.com" />
        <param name="To" value="tolgabuyuktanir@gmail.com" />
        <param name="Subject" value="[BLOG ERROR LOG] ErrorList" />

        <param name="BufferSize" value="50" />

        <param name="threshold" value="error" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
        </layout>
    </appender>
    -->
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="LogError" class="org.apache.log4j.FileAppender">
        <param name="File" value="finartzError.log" />
        <param name="Threshold" value="ERROR" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>



    <appender name="LogInfo" class="org.apache.log4j.FileAppender">
        <param name="File" value="finartzInfo.log" />
        <param name="Threshold" value="INFO" />
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="INFO" />
        </filter>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <!--Logger Names-->
    <logger name="finartz.javaProgramming">
        <appender-ref ref="LogError"/>
    </logger>
    <logger name="finartz.javaProgramming.hibernateClasses">
        <appender-ref ref="LogInfo"/>
    </logger>

</log4j:configuration>
